<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team List</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .team-button {
      width: 90%;
      max-width: 400px;
      margin: 10px 0;
      padding: 15px 20px;
      font-size: 16px;
      color: #fff;
      background-color: #007BFF;
      border: none;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .team-button:hover {
      background-color: #0056b3;
      transform: scale(1.03);
    }

    .team-button:active {
      background-color: #004094;
      transform: scale(0.97);
    }
  </style>
</head>
<body>
  <h1><%= username %> - <%= teamName %></h1>
  <h1><%= game.title%></h1>
  <% for(let stat of game.stats){ %>
    <% if(!stat.notShow){ %>
  <button class="team-button" data-statKey="<%= stat.key %>"><%= stat.title %></button>
    <% } %>
  <% } %>
</body>

<script>
    const teamButtons = document.querySelectorAll('.team-button');
  
    teamButtons.forEach(button => {
      button.addEventListener('click', () => {
        const statKey = button.getAttribute('data-statKey');
  
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/game/stats';
  
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'statKey';
        input.value = statKey;
  
        form.appendChild(input);
  
        document.body.appendChild(form);
        form.submit();
      });
    });
  </script>
</html>
